body {
    font-family: 'Poppins', sans-serif;
    color: aliceblue;

}

.container {
    width: 1440px;
    height: 1899px;
    margin: 0 auto 0;
}

.header {
    font-family: 'Poppins';
    color: aliceblue;
    background: #DB7093;
    height: 50px;
    display: flex;
    padding: 15px 170px 8px 170px;
    justify-content: space-around;
    position: relative;
}
.nav__flex {
    display: flex;
    justify-content: space-between;
}
.nav__flex-item {
    margin-right: 16px;
}
.header__logo {
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 130px;
}
.search-field {
    background: #DB7093;
    border: 2px solid white;
    border-radius: 10px;
    padding-left: 10px;
    color: white;
    margin-left: 200px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 210px;
    height: 34px;

}
.header__button {
    width: 96px;
    height: 34px;
    margin-bottom: 100px;
    position: absolute;
    right: 150px;
    top: 8px;
    color: #DB7093;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    background: white;
    border-radius: 10px;
}

.section-title {
    color: #4A4A4A;
text-align: center;
font-family: 'Poppins';
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 40px;
margin-top: 43px;
margin-bottom: 39px;
}
.section-container {
    margin-left: 20px;
}

.product-card {
    margin-left: 106px;
    margin-right: 275px;
    display: flex;
    margin-bottom: 39px;
}

.card-title {
    color: #4A4A4A;
font-family: 'Poppins';
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; 
}
.card-text {
    color: #717171;
font-family: 'Poppins';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 32px;
}
.card-description {
    margin-left: 45px;
    margin-top: 60px;
}
.card-button {
    width: 96px;
    height: 34px;
    border-radius: 8px;
border: 2px solid #DB7093;
    color: #DB7093;
    background: white;
    margin-top: 13px;
    padding-right: 14px;
}
.card-link {
    color: #DB7093;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 200% */
text-decoration-line: underline;
}
.product-card2 {
    margin-left: 106px;
    margin-right: 275px;
    display: flex;
    margin-bottom: 39px;
    flex-direction: row-reverse ;
    position: relative;
}
.button2-- {
    width: 96px;
    height: 34px;
    border-radius: 8px;
border: 2px solid #DB7093;
    color: #DB7093;
    background: white;
    margin-bottom : px;
    padding-right: 14px;
    margin-left: 600px;
    position: absolute;
    left: 20px;
    bottom: 50px;
}
.card2-link {
    color: #DB7093;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 200% */
text-decoration-line: underline;
padding-left: 450px;

}
.section_button {
    display: flex;
    justify-content: center;
}
.button_item {
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 34px;
    margin-top: 29px;
    width: 216px;
    height: 36px;
    border-radius: 8px;
    background: #DB7093;
    margin-bottom: 89px;
    box-shadow: 0px 3px 4px #DB7093;
}
.section-form {
    display: flex;
    justify-content: center;
}
input {
    color: #717171;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 34px;
border-radius: 8px;
background: #F3F3F3;
width: 400px;
height: 34px;
padding: 15px;
}
.form-title {
    color: #4A4A4A;
font-family: 'Poppins';
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; 
text-align: center;
margin-bottom: 10px;
}
textarea {
    border-radius: 8px;
background: #F3F3F3;
width: 400px;
height: 113px;
color: #717171;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 34px;
padding-left: 15px;
}
.form-button {
    width: 163px;
height: 36.651px;
border-radius: 8px;
background: #DB7093;
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 34px;
margin-left: 30%;
margin-bottom: 69px;
box-shadow: 0px 3px 4px #DB7093;
}
.footer {
    background: #F3F3F3;
    height: 120px;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.footer-text {
    color: #DB7093;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 32px;
margin-left: 179px;
}
.footer-center {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
}
.footer-nav {
    margin-right: 169px;
}
.nav {
    display: flex;
    color: #4A4A4A;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 34px
}
.nav-item {
    margin-left: 16px;
}
.footer-logo {
    color: #DB7093;
text-align: center;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 34px;
margin-top: 5px;
}
.footer-button {
    width: 96px;
    height: 34px;
    border-radius: 8px;
    border: 2px solid #DB7093;
    color: #DB7093;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 34px;
}